
/* COLORS */
.bbd {
	background-color: #2C3E50; /* H210 */
}
.bor {
	background-color: #E79D33; /* H35 */
}
.bwh {
	background-color: #ECF0F1; /* H192 */
}
.bb1 {
	background-color: #3498DB; /* H204 */
}
.bb2 {
	background-color: #2980B9; /* H204 */
}
.cbd {
	color: #2C3E50;
}
.cor {
	color: #E79D33;
}
.cwh {
	color: #ECF0F1;
}
.cb1 {
	color: #3498DB;
}
.cb2 {
	color: #2980B9;
}

/* Globals */
body {
	font-size: 1.5em;
}
#body {
	background-color: hsl(34, 53%, 82%);
	background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(204, 62%, 11%, 0.1) 5px, hsla(204, 62%, 11%, 0.1) 10px,
	  hsla(204, 53%, 63%, 0.1) 10px, hsla(204, 53%, 63%, 0.1) 35px, hsla(204, 53%, 63%, 0.5) 35px, hsla(204, 53%, 63%, 0.5) 40px,
	  hsla(204, 62%, 11%, 0.1) 40px, hsla(204, 62%, 11%, 0.1) 50px, hsla(204, 62%, 11%, 0.1) 50px, hsla(204, 62%, 11%, 0.1) 60px,
	  hsla(204, 53%, 63%, 0.5) 60px, hsla(204, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0.1) 80px, hsla(35, 91%, 65%, 0.1) 90px, hsla(204, 53%, 63%, 0.5) 90px, hsla(204, 53%, 63%, 0.5) 110px,
	  hsla(204, 53%, 63%, 0.1) 110px, hsla(204, 53%, 63%, 0.1) 120px, hsla(204, 62%, 11%, 0.1) 120px, hsla(204, 62%, 11%, 0.1) 140px
	  ),
	repeating-linear-gradient(135deg, transparent 5px, hsla(204, 62%, 11%, 0.1) 5px, hsla(204, 62%, 11%, 0.1) 10px,
	  hsla(204, 53%, 63%, 0.1) 10px, hsla(204, 53%, 63%, 0.1) 35px, hsla(204, 53%, 63%, 0.5) 35px, hsla(204, 53%, 63%, 0.5) 40px,
	  hsla(204, 62%, 11%, 0.1) 40px, hsla(204, 62%, 11%, 0.1) 50px, hsla(204, 62%, 11%, 0.1) 50px, hsla(204, 62%, 11%, 0.1) 60px,
	  hsla(204, 53%, 63%, 0.5) 60px, hsla(204, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0.1) 80px, hsla(35, 91%, 65%, 0.1) 90px, hsla(204, 53%, 63%, 0.5) 90px, hsla(204, 53%, 63%, 0.5) 110px,
	  hsla(204, 53%, 63%, 0.1) 110px, hsla(204, 53%, 63%, 0.1) 140px, hsla(204, 62%, 11%, 0.1) 140px, hsla(204, 62%, 11%, 0.1) 160px
	);
}
a {
	color: #094e7b;
}
a:hover, a:focus {
	background: rgba(231, 157, 51, .4);
}
a:hover .cor, a:focus .cor {
	color: #125a89;
}

/* forms */
textarea, input, button {
	padding: .5em 1em;
	border: 2px solid #2980B9;
	height: 2.8em;
}
input[type=checkbox], input[type=radio] {
	height: auto;
}
textarea:focus, input:focus {
	border-color: #E79D33;
}
button {
	color: #FFF;
	background-color: #2980B9;
}
button:hover, button:focus {
	background-color: #3498DB;
	border-color: #3498DB;
}

.flaticon-flag {
	border: 1px solid #2980B9;
    display: inline-block;
    height: 1em;
    line-height: 0.9em;
    margin-top: 0.5em;
}

/* Floating links */
#direct-access {
	z-index: 1100;
	position: fixed;
	top: -100px;
	right: 0;
	border: solid #2980B9;
	border-width: 0 0 2px 2px;
	border-radius: 0 0 0 1em;
	box-shadow: -0.8em 0 1em rgba(0, 0, 0, 0.3);
    -webkit-transition: top 1s;
    transition: top 1s;
}
#direct-access>*:first-child{
	font-weight: bold;
	max-width: 200px;
	position: relative;
	top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	padding-left: .6em;
	border-radius: 0 0 0 1em;
}
#direct-access>*{
	display: inline-block;
	padding: .3em;
}
#direct-access>*:last-child {
	padding-right: .6em;
}

/* Header */
#top-links {
	position: absolute;
	right: 0;
}
#top-links>* {
	float: right;
	display: inline-block;
	margin-right: .2em;
	padding: 0 .2em;
}

.wlimit {
	max-width: 1024px;
	margin: 0 auto;
}
.wlimit-l {
	max-width: 1800px;
	margin: 0 auto;
	position: relative;
}
@media (max-width: 1060px) {
	.title-grp{
		margin: 0 1rem;
	}
}
h1{
	margin-bottom: 0;
	font-family: 'Cookie', 'Segoe Print', 'Chalkboard', 'Comic Sans MS', cursive, sans-serif;
	color: #2C3E50;
}
h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
@media (max-width: 500px) {
	.sm-hidden, #top-links .sm-hidden, #direct-access .sm-hidden {
		display: none;
	}
}
@media (max-width: 750px) {
	.sm2-hidden, #top-links .sm2-hidden, #direct-access .sm2-hidden {
		display: none;
	}
}
@media (min-width: 500px) {
	h1 {
		font-size: 4em;
	}
}
.title-grp>* {
	display: inline;
}
@media (max-width: 1060px) {
	.title-grp>p{
		display: block;
		margin-top: 0;
		padding-bottom: 1rem;
	}
}



/* MENU =========== */

#navigation {
	position: relative;
}
#navigation ul,
#navigation li,
#navigation span,
#navigation a {
  margin: 0;
  padding: 0;
  position: relative;
}
#navigation {
  border-bottom: 2px solid #E79D33;
  width: auto;
}
#navigation:after,
#navigation ul:after {
  content: '';
  display: block;
  clear: both;
}
#navigation a {
  color: #ffffff;
  background-color: #2980B9;
  display: block;
  padding: 19px 20px;
  text-decoration: none;
}
#navigation ul {
  list-style: none;
}
#navigation > ul > li > a {
  color: #ffffff;
  padding: 1.2rem;
}
#navigation > ul > li.active > a,
#navigation > ul > li:hover > a,
#navigation > ul > li:focus > a {
  color: #ffffff;
  background-color: #3498DB;
}
#navigation .has-sub:hover > a + *,
#navigation .has-sub:focus > a + * {
  display: block;
}
	#navigation .has-sub > a + * li {
  *margin-bottom: -1px;
}
#navigation .has-sub > a + * {
  background: #E79D33;
}
#navigation .has-sub > a + * li a {
  background: #E79D33;
  border-bottom: 1px dotted #31b7f1;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#navigation .has-sub > a + * li:hover a,
#navigation .has-sub > a + * li:focus a {
  background: #dd9124;
}
#navigation ul ul li:focus > a,
#navigation ul ul li:hover > a {
  color: #ffffff;
}
#navigation .has-sub .has-sub:hover > a + *,
#navigation .has-sub .has-sub:focus > a + * {
  display: block;
}
#navigation .has-sub .has-sub > ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#navigation .has-sub .has-sub > ul li a:hover,
#navigation .has-sub .has-sub > ul li a:focus {
  background: #dd9124;
}
#navigation ul ul li.last > a,
#navigation ul ul li:last-child > a,
#navigation ul ul ul li.last > a,
#navigation ul ul ul li:last-child > a,
#navigation .has-sub > ul li:last-child > a,
#navigation .has-sub > ul li.last > a {
  border-bottom: 0;
}
@media (min-width: 768px) {
	#navigation > ul > li {
	  display: inline-block;
	  float: left;
	  margin: 0;
	}
	#navigation .menu-minimal {
		display: none;
	}
	#navigation .has-sub > a + * {
	  display: none;
	  z-index: 200;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
	#navigation .has-sub:last-child > a + * {
	  left: auto;
	  right: 0;
	}
	#navigation .has-sub > a + * a {
	  min-width: 200px;
	}
	#navigation > ul > li:hover:after, #navigation > ul > li:hover:focus {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-bottom: 10px solid #E79D33;
	  margin-left: -10px;
	}
}
@media (max-width: 767px) {
	#navigation li {
	  display: block;
	}
	#navigation ul {
		display: none;
		border: 2px solid #E79D33;
		border-width: 0 2px 2px 0;
		box-shadow: 6px 6px 16px #444;
		z-index: 100;
	}
	#navigation > ul {
		position: absolute;
		width: 400px;
		max-width: 100%;
	}
	#navigation .sm-menu-hidden {
		display: none;
	}
	#navigation .menu-minimal {
		display: table-cell;
	}
	#navigation .menu-access:hover + ul,
	#navigation .menu-access:focus + ul,
	#navigation ul:hover,
	#navigation ul:focus{
		display: block;
	}
	#navigation > ul > li > a {
		border-top: 1px dotted #2C3E50;
	}
}
/* search in menu */
#searchbox {
	white-space:nowrap;
}
#searchbox .cse-input {
	width: 170px;
}
#searchbox .cse-submit {
}

/* HOMEPAGE ========== */
.home1 {
	/*display: table;*/
}

/* BREADCRUMB ============= */
#navpath {
	font-size: 0.85em;
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    padding: 0 0.3rem;
}

/* Recipe header */

.recipe-header {
max-width: 80%;
float: left;
}
.ribbon {
 line-height: 1em;
 position: relative;
 background: #dd9124;
 color: #fff;
 text-align: center;
 padding: .3em .6em;
 box-shadow: -.44em .86em .72em rgba(0, 0, 0, 0.4);
}
.ribbon:before {
 content: "";
 position: absolute;
 display: block;
 bottom: -.75em;
 border: 1em solid #b9791e;
 z-index: -1;
 border-left-width: 1em;
 border-right-color: transparent;
right: -1.75em;
width: 0.5em;
}
.ribbon:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #9d6719 transparent transparent transparent;
 bottom: -.75em;
 right: 0;
 border-width: .75em .75em 0 0;
 z-index: -1;
}

/* Recipe infos */
.recipe-header+.recipe-info{
	margin-top: 5rem;
}
.recipe-info .with-pub{
	min-height: 310px;
}
@media (min-width: 1025px) {
	.recipe-header+.recipe-info{
		border-radius: 2rem 0 0 0;
	}
}
.recipe-info:last-child {
	border-radius: 0 0 0 2rem;
}
.recipe-info {
	background: rgba(255, 255, 255, .65);
	padding: 1rem;
	margin: 0;
	clear: left;
}
.recipe-info>* {
	padding: 1rem;
}
.recipe-actions {
	clear: both;
}
.recipe-actions a {
	color: #FFF;
	margin-bottom: 0.3em;
}
.recipe-actions>* {
	color: #FFF;
	display: inline-block;
	width: auto;
	padding: .3em .6em;
	background: #2980B9;
}
.recipe-info .recipe-actions a {
	border-radius: .4em;
}
.recipe-actions .arrow {
	position: relative;
}
.recipe-actions a.arrow {
	border-radius: 0;
}
.recipe-actions .arrow:after {
	top: 0;
	border: solid transparent;
	content: " ";
	height: .1em;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 1em;
	border-color: rgba(136, 183, 213, 0);
}
.recipe-actions .arrow-left:after {
	border-right-color: #2980B9;
	right: 100%;
}
.recipe-actions .arrow-right:after {
	border-left-color: #2980B9;
	left: 100%;
}
.recipe-actions .hover-img img {
	position: absolute;
	bottom: 2em;
	border: 4px solid #3498db;
	right: 0;
	display: none;
	box-shadow: 0 -.8em .4em .4em rgba(0, 0, 0, 0.4);
	max-width: 311px;
	width: 100%;
}
.recipe-actions .hover-img:hover img {
	display: block;
}
.recipe-popularity{
	float: right;
	margin-bottom: 0.5em;
}
.recipe-popularity+*{
	clear: right;
}
.vote > label {
	float: right;
	margin: 0;
}
.vote {
	display: inline;
}
.vote > *:hover, .vote > *:hover+*, .vote > *:hover+*+*, .vote > *:hover+*+*+* {
	color: #094e7b;
	background: rgba(231, 157, 51, .4);
}
.vote>label:hover>span:before, .vote>label:hover+label>span:before, .vote>label:hover+label+label>span:before, .vote>label:hover+label+label+label>span:before, .vote input:checked+span:before {
	content: "\e00a";
}
#ingredients li {
    padding: 0.2em 0;
}

#cost strong {
	font-size: 1.4em;
}
#cost small {
	font-weight: normal;
	font-size: .8em;
}
#cost>p>* {
	display: inline-block;
	margin-right: 2em;
}

/* Timeline */
.timer-bake, .timer-prep, .timer-total {
	border-radius: 1em;
	padding: 0 1em;
}
.timer-bake {
	color: #FFF;
	background-color: #2C3E50;
}
.timer-prep {
	background-color: #3498DB;
}
.timer-total {
	border: 2px solid #2C3E50;
	background-color: #fff;
}
#recipe .timer-bake, #recipe .timer-prep{
	position: absolute;
	right: 0;
}
#time ul {
	padding: 0;
}
#time ul>li {
	display: inline-block;
	margin: 0 2em 2em 0;
}

/*
ol.timeline {
	display: table-row;
	width: 100%;
}
ol.timeline li {
	display: table-cell;
	border-right: 1px solid transparent;
	z-index: 1000;
	padding: 0;
}
ol.timeline li a {
	width: 100%;
	height: 3em;
	display: block;
	overflow: hidden;
}
ol.timeline li:before {
	font-size: 2em;
}
ol.timeline li img {
    position: absolute;
    height: 2.4em;
    margin: .3em;
}
ol.timeline li:hover img {
    background: #E79D33;
    bottom: 2.7em;
    max-width: 10em;
	height: auto;
    min-width: 10em;
    padding: 1em;
	display: block;
}
ol.timeline li:hover {
	background-color: #E79D33;
}
ol.timeline li:hover:before {
	font-size: 3em;
}
ol.timeline li.bb1:before {
	z-index: 1200;
}
*/

.nutritions{
	padding: 1em;
	display: inline-block;
}
.nutrition{
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  font-size: 1.1em;
  width: 4em;
  line-height: 1.5em;
  margin: 0 .3em;
}
.nutrition>*{
  padding: .5em 1em .2em;
  width: 6em;
  border-radius: 100%;
  position: relative;
  left: -1em;
  overflow: hidden;
  background: #BBB;
}
.nutrition span{
	margin-top: .3em;
	display: inline-block;
  position: relative;
}
.nutrition>*:before {
    background: rgba(255, 255, 255, .7);
    border-radius: 100%;
    bottom: -1em;
    content: "";
    height: 3em;
    left: 1.5em;
    position: absolute;
    width: 3em;
}
.nutrition.green>* {
  background: #78D1AF;
}
.nutrition.beige>* {
  background: #DCD397;
}
.nutrition.blue>* {
  background: #60B5DE;
}
.nutrition.rose>* {
  background: #DC97A0;
}

/* other recipes */
.illustrated-item {
	display: inline-block;
    height: 8.5em;
	position: relative;
}
.illustrated-item figure{
	margin-top: 0;
}
.illustrated-item img{
	height: 7.5em;
	padding: .3em;
}
.illustrated-item figcaption{
	padding: 0 .3em;
	max-width: 111%;
	display: block;
	height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	bottom: 0;
	text-align: left;
	text-decoration: underline;
}
.illustrated-item:hover figcaption{
	text-overflow: visible;
	height: auto;
	white-space: normal;
	width: auto;
	background-color: hsla(35, 91%, 65%, 0.6);
}
.illustrated-item:hover img{
	opacity: .8;
}

/* Comments */
.comment {
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em 1.5em;
    zoom: 1;
}
.comment-body {
    overflow: hidden;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    display: block;
}
.comment:nth-child(odd) .comment-body {
    background: #FFFFF0;
}
.comment-body p:last-child {
    margin: 0;
}
.comment .attribution {
    margin: 0.5em 0 0;
    color: #666;
}
.comment .attribution .name{
    color: #000;
}

.comments,
.comment {
    position: relative;
}
.comments>div {
	margin-left: 20px;
}
.comments:before,
.comment:before,
.comment:after {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
}
.comments:before {
    width: 3px;
    top: 36px;
    bottom: 26px;
    background: rgba(0,0,0,0.1);
}
.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -38px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}
.comment:hover:before {
    background: #E79D33;
}
.comment:after {
    top: 18px;
    left: -5px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
form.comment:after {
	border-width: 0 0 2px 2px;
	border-color: #3498DB;
}
form.comment textarea {
	border: 2px solid #3498DB;
    overflow: visible;
    background: #FFF;
    width: 100%;
    display: block;
    border-radius: 5px;
}
form.comment textarea:focus {
	border-color: #E79D33;
}
form.comment button {
	margin-top: 3px;
}
#subscribe-recipe input {
	width: 50%;
	min-width: 300px;
}

/* RECIPE */
#recipe {
	z-index: 1;
	box-shadow: -0.8em 0 1em rgba(0, 0, 0, 0.3);
}
.recipe-actions>a:hover {
	background: #3498db;
}
.recipe-actions>a.active, .recipe-actions>a:active {
	background: #E79D33;
}
#recipe>.recipe-actions {
	background: #2980B9;
	width: 100%;
}
@media (max-width: 1024px) {
	.hide-1col {
		display: none;
	}
	#recipe {
		clear: both;
		margin-top: 8px;
	}
}
@media (min-width: 1025px) {
	.hide-2col {
		display: none;
	}
	#recipe>.recipe-actions {
		border-radius: 2rem 2rem 0 0;
	}
	#recipe>.recipe-actions>a:first-child {
		border-radius: 2rem 0 0 0;
	}
	.recipe-info {
		width: 45%;
		float: left;
	}
	#recipe {
		position: relative;
		float: right;
		width: 55%;
		border-radius: 2rem;
	}
}
#recipe li {
	clear: both;
}
#recipe li>img {
	margin-right: 1rem;
	border-radius: 1rem;
	width: 31.1rem;
}
@media (max-width: 560px) {
	#recipe li>img {
		display: block;
	}
}
@media (min-width: 561px) {
	#recipe li>.step-text {
		width: calc(100% - 330px);
	}
}
ol {
    counter-reset:li;
    padding:1.5em;
}
ol > li {
    position:relative;
    padding:6px 0;
    list-style:none;

}
ol > li > .step-text, ol > li > img {
  margin:0 0 10px 0;
  display:inline-block;
  vertical-align:middle;
}
ol > li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:0;
    left:-.5em;
    background:rgba(255, 255, 255, .7);
    border-radius: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:1em;
    height:1em;
    font-size: 4em;
    text-align:center;
    border: 1px solid #555;
    line-height: 1em;
	font-family: 'Cookie', 'Segoe Print', 'Chalkboard', 'Comic Sans MS', cursive, sans-serif;
	transform: rotate(10deg);
	box-shadow: 2px 2px 5px #555;
	z-index: 1100;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
ol+*{
	clear: both;
}
#recipe .vote {
    padding: 0 0 1em 0;
    display: inline-block;
}
#recipe .vote, #recipe .vote span:before {
    font-size: 30px;
}

/* FOOTER */
#footer {
	margin-top: 2em;
	border-top: 2em solid #2980B9;
	background-color: rgba(255, 255, 255, .65);
	text-align: left;
	padding-bottom: 4em;
}
#footer>* {
	border-top: 1em solid #E79D33;
}
ul.site-map {
	padding: 1em 0 0;
	margin: 0;
}
ul.site-map ul {
	list-style: outside disc;
	padding: 0;
}
ul.site-map li{
	margin-left: 1em;
}
ul.site-map li.parent{
	font-size: 1.4em;
    list-style: none;
}
ul.site-map ul>li.parent{
    margin: .7em 0 .7em 0;
}
ul.site-map .parent>*{
	font-size: 1.4rem;
}
ul.site-map .parent>h3, ul.site-map li h3{
	font-size: 2rem;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	margin-top: 1em;
}
.site-map>*{
	float: left;
	min-width: 200px;
	max-width: 235px;
}

.pub {
	text-align: center;
}
.pub img {
	border-radius: 0 !important;
	float: none !important;
	margin: 16px;
	max-width: 80vw;
}

