
/* COLORS */
.bbd {
	background-color: #2C3E50; /* H210 */
}
.bor {
	background-color: #E79D33; /* H35 */
}
.bwh {
	background-color: #ECF0F1; /* H192 */
}
.bb1 {
	background-color: #3498DB; /* H204 */
}
.bb2 {
	background-color: #2980B9; /* H204 */
}
.cbd {
	color: #2C3E50;
}
.cor {
	color: #E79D33;
}
.cwh {
	color: #ECF0F1;
}
.cb1 {
	color: #3498DB;
}
.cb2 {
	color: #2980B9;
}

body {
	font-size: 1.5em;
}
#body {
	background-color: hsl(34, 53%, 82%);
	background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(204, 62%, 11%, 0.2) 5px, hsla(204, 62%, 11%, 0.2) 10px,
	  hsla(204, 53%, 63%, 0) 10px, hsla(204, 53%, 63%, 0) 35px, hsla(204, 53%, 63%, 0.5) 35px, hsla(204, 53%, 63%, 0.5) 40px,
	  hsla(204, 62%, 11%, 0.2) 40px, hsla(204, 62%, 11%, 0.2) 50px, hsla(204, 62%, 11%, 0) 50px, hsla(204, 62%, 11%, 0) 60px,
	  hsla(204, 53%, 63%, 0.5) 60px, hsla(204, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(204, 53%, 63%, 0.5) 90px, hsla(204, 53%, 63%, 0.5) 110px,
	  hsla(204, 53%, 63%, 0) 110px, hsla(204, 53%, 63%, 0) 120px, hsla(204, 62%, 11%, 0.2) 120px, hsla(204, 62%, 11%, 0.2) 140px
	  ),
	repeating-linear-gradient(135deg, transparent 5px, hsla(204, 62%, 11%, 0.2) 5px, hsla(204, 62%, 11%, 0.2) 10px,
	  hsla(204, 53%, 63%, 0) 10px, hsla(204, 53%, 63%, 0) 35px, hsla(204, 53%, 63%, 0.5) 35px, hsla(204, 53%, 63%, 0.5) 40px,
	  hsla(204, 62%, 11%, 0.2) 40px, hsla(204, 62%, 11%, 0.2) 50px, hsla(204, 62%, 11%, 0) 50px, hsla(204, 62%, 11%, 0) 60px,
	  hsla(204, 53%, 63%, 0.5) 60px, hsla(204, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
	  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(204, 53%, 63%, 0.5) 90px, hsla(204, 53%, 63%, 0.5) 110px,
	  hsla(204, 53%, 63%, 0) 110px, hsla(204, 53%, 63%, 0) 140px, hsla(204, 62%, 11%, 0.2) 140px, hsla(204, 62%, 11%, 0.2) 160px
	);
}
a {
	color: #094e7b;
}
a:hover, a:focus {
	background: rgba(231, 157, 51, .4);
}
a:hover .cor, a:focus .cor {
	color: #125a89;
}
/* Header */
.top-links {
	position: relative;
}
.top-links>* {
	float: right;
	display: inline-block;
	margin-right: .2em;
	padding: 0 .2em;
}

.wlimit {
	max-width: 1024px;
	margin: 0 auto;
}
.wlimit-l {
	max-width: 1800px;
	margin: 0 auto;
}
@media (max-width: 1060px) {
	.title-grp{
		margin: 0 1rem;
	}
}
h1{
	margin-bottom: 0;
	font-family: 'Cookie', 'Segoe Print', 'Chalkboard', 'Comic Sans MS', cursive, sans-serif;
	color: #2C3E50;
}
h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
@media (max-width: 500px) {
	.sm-hidden, .top-links a.sm-hidden {
		display: none;
	}
}
@media (min-width: 500px) {
	h1 {
		font-size: 4em;
	}
}
.title-grp>* {
	display: inline;
}
@media (max-width: 1060px) {
	.title-grp>p{
		display: block;
		margin-top: 0;
		padding-bottom: 1rem;
	}
}



/* MENU =========== */

#navigation {
	position: relative;
}
#navigation ul,
#navigation li,
#navigation span,
#navigation a {
  margin: 0;
  padding: 0;
  position: relative;
}
#navigation {
  border-bottom: 2px solid #E79D33;
  width: auto;
}
#navigation:after,
#navigation ul:after {
  content: '';
  display: block;
  clear: both;
}
#navigation a {
  color: #ffffff;
  background-color: #2980B9;
  display: block;
  padding: 19px 20px;
  text-decoration: none;
}
#navigation ul {
  list-style: none;
}
#navigation > ul > li > a {
  color: #ffffff;
  padding: 1.2rem;
}
#navigation > ul > li.active > a,
#navigation > ul > li:hover > a,
#navigation > ul > li:focus > a {
  color: #ffffff;
  background-color: #3498DB;
}
#navigation .has-sub:hover > a + *,
#navigation .has-sub:focus > a + * {
  display: block;
}
	#navigation .has-sub > a + * li {
  *margin-bottom: -1px;
}
#navigation .has-sub > a + * {
  background: #E79D33;
}
#navigation .has-sub > a + * li a {
  background: #E79D33;
  border-bottom: 1px dotted #31b7f1;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#navigation .has-sub > a + * li:hover a,
#navigation .has-sub > a + * li:focus a {
  background: #dd9124;
}
#navigation ul ul li:focus > a,
#navigation ul ul li:hover > a {
  color: #ffffff;
}
#navigation .has-sub .has-sub:hover > a + *,
#navigation .has-sub .has-sub:focus > a + * {
  display: block;
}
#navigation .has-sub .has-sub > ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#navigation .has-sub .has-sub > ul li a:hover,
#navigation .has-sub .has-sub > ul li a:focus {
  background: #dd9124;
}
#navigation ul ul li.last > a,
#navigation ul ul li:last-child > a,
#navigation ul ul ul li.last > a,
#navigation ul ul ul li:last-child > a,
#navigation .has-sub > ul li:last-child > a,
#navigation .has-sub > ul li.last > a {
  border-bottom: 0;
}
@media (min-width: 768px) {
	#navigation > ul > li {
	  display: inline-block;
	  float: left;
	  margin: 0;
	}
	#navigation .menu-minimal {
		display: none;
	}
	#navigation .has-sub > a + * {
	  display: none;
	  z-index: 200;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
	#navigation .has-sub:last-child > a + * {
	  left: auto;
	  right: 0;
	}
	#navigation .has-sub > a + * a {
	  min-width: 200px;
	}
	#navigation > ul > li:hover:after, #navigation > ul > li:hover:focus {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-bottom: 10px solid #E79D33;
	  margin-left: -10px;
	}
}
@media (max-width: 767px) {
	#navigation li {
	  display: block;
	}
	#navigation ul {
		display: none;
		border: 2px solid #E79D33;
		border-width: 0 2px 2px 0;
		box-shadow: 6px 6px 16px #444;
	}
	#navigation > ul {
		position: absolute;
		width: 400px;
		max-width: 100%;
	}
	#navigation .sm-menu-hidden {
		display: none;
	}
	#navigation .menu-minimal {
		display: table-cell;
	}
	#navigation .menu-access:hover + ul,
	#navigation .menu-access:focus + ul,
	#navigation ul:hover,
	#navigation ul:focus{
		display: block;
	}
	#navigation > ul > li > a {
		border-top: 1px dotted #2C3E50;
	}
}
/* search in menu */
#searchbox {
	white-space:nowrap;
}
#searchbox .cse-input {
	width: 170px;
}
#searchbox .cse-submit {
}

/* BREADCRUMB ============= */
.navpath {
	font-size: 0.85em;
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    padding: 0 0.3rem;
}

/* Recipe header */

.recipe-header {
max-width: 80%;
float: left;
}
.ribbon {
min-width: 350px;
 line-height: 1em;
 position: relative;
 background: #dd9124;
 color: #fff;
 text-align: center;
 padding: .3em .6em;
}
.ribbon:before {
 content: "";
 position: absolute;
 display: block;
 bottom: -.75em;
 border: 1em solid #b9791e;
 z-index: -1;
 border-left-width: 1em;
 border-right-color: transparent;
right: -1.75em;
width: 0.5em;
}
.ribbon:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #9d6719 transparent transparent transparent;
 bottom: -.75em;
 right: 0;
 border-width: .75em .75em 0 0;
 z-index: -1;
}

/* Recipe infos */
.tab-intro {
	clear:left;
}
@media (min-width: 500px) {
	.tab-intro .pub {
		float: right;
		margin-left: 8px;
	}
}
.recipe-header+.recipe-info{
	margin-top: 5rem;
}
@media (min-width: 1025px) {
	.recipe-header+.recipe-info{
		border-radius: 2rem 0 0 0;
	}
}
.recipe-info:last-child {
	border-radius: 0 0 0 2rem;
}
.recipe-info {
	background: rgba(255, 255, 255, .5);
	padding: 1rem;
	margin: 0;
	clear: left;
}
.recipe-info>* {
	padding: 1rem;
}
/* RECIPE */
.recipe {
	z-index: 1;
	padding: 6px;
}
@media (max-width: 1024px) {
	.recipe {
		clear: both;
		margin-top: 8px;
	}
}
@media (min-width: 1025px) {
	.recipe-info {
		width: 45%;
		float: left;
	}
	.recipe {
		position: relative;
		float: right;
		width: 55%;
		border-radius: 2rem;
	}
}
.pub {
	text-align: center;
}
.recipe-info .pub {
	margin: 16px;
}
.recipe li {
	clear: both;
}
.recipe li img {
	float: left;
	margin-right: 1rem;
	border-radius: 1rem;
}
ol {
    counter-reset:li;
    padding:1rem;
}
ol > li {
    position:relative;
    padding:6px 0;
    list-style:none;
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:0;
    left:-.5em;
    background:rgba(255, 255, 255, .7);
    border-radius: 100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:60px;
    height:60px;
    font-size: 4em;
    text-align:center;
    border: 1px solid #555;
    line-height: 1em;
	font-family: 'Cookie', cursive;
	transform: rotate(10deg);
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

